body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: auto;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center; 
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  margin: auto;
}

.X {
  color: red;
}

.O {
  color: blue;
}

.highlightedX {
  color: red;
  margin-left: 10px;
}

.highlightedO {
  color: blue;
  margin-left: 10px;
}

.whoseMove {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 50px; 
  font-size: 350%;
}

.game {
  justify-content: center;
  display: grid;
  margin: auto;
  flex-direction: row;
}

.game-info {
  margin: auto;
  width: 270px;
  display: grid;
  margin-top: 10%;
}
